@model IEnumerable<TPLOCAL1.Models.Opinion>

@{
    ViewBag.Title = "Opinions";
}

<head>
    <title>Formulaire</title>
    <link rel="stylesheet" href="~/resources/Index.css" />
</head>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Formulaire TP HN avis</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index/Index">Acceuil</a></li>
            <li><a href="/Home/Index/ListeAvis">Liste avis</a></li>
        </ul>
    </nav>

<h2>Opinions</h2>

<table class="table">
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Avis donnée</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nom</td>
                <td>@item.Prenom</td>
                @if (item.Avis == "N")
                {
                    <td style="background-color: red">Non</td>
                }
                else
                {
                    <td style="background-color: green">Oui</td>
                }
            </tr>
        }
    </tbody>
</table>
@{
    Layout = null;
}